<h2>Создать продукт</h2>
<form (ngSubmit)="createProduct()" #form="ngForm">
  <input type="text" [(ngModel)]="newProduct.name" name="name" placeholder="Название" required />
  <input type="text" [(ngModel)]="newProduct.description" name="description" placeholder="Описание" required />
  <input type="number" [(ngModel)]="newProduct.price" name="price" placeholder="Цена" required />
  <button type="submit">Создать</button>
</form>

<hr />

<h2>Список продуктов</h2>
<ul *ngIf="products.length > 0; else noData">
  <li *ngFor="let product of products">
    <strong>{{ product.name }}</strong>: {{ product.description }} - {{ product.price }} тг
    <button (click)="updateProduct(product)">Обновить (цена +100)</button>
    <button (click)="deleteProduct(product.id!)">Удалить</button>
  </li>
</ul>

<ng-template #noData>
  <p>Нет доступных продуктов.</p>
</ng-template>